<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1. 导入spring-context坐标-->

    <!--2. 配置Bean-->
    <!--id为给bean起的名字-->
    <!--class表示bean定义类型-->
    <bean id="bookDao" class="dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="service.impl.BookServiceImpl">
        <!--7. 配置service与dao关系-->
        <!--property标签：配置当前bean属性
        name: 表示配置哪一个具体的属性
        ref: 表示参照哪一个bean-->
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>